@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
  background-color:rgba(0, 0, 0);
  font-family: 'Oswald';
  main {
    display: flex;
      align-items: center;
      justify-content: center;
    height: 100%;
    .hero {
      position: relative;
      header {
        color: white;
        font-size: 4em;
        padding: 0 1em;
        position: absolute;
          top: -5%;
          left: -40%;
        span {
          color: rgba(225, 0, 15, 0.9);
        }
      }
      .imgContainer {
        opacity: 0.5;
        width: 700px;
      }
      nav.navbar {
        display: flex;
        align-items: left;
        justify-content: center;
          flex-direction: column;
        height: 255px;
        position: absolute;
          bottom: 0;
          right: -25%;
        width: 255px;
        a {
          color: rgba(255, 255, 255, .6);
          font-size: 3.5em;
          font-weight: 700;
          // letter-spacing: 2px;
          line-height: .9em;
          text-decoration: none;
          &:hover {
            color: rgba(255, 255, 255, 1);
            font-size: 4em;
          }
        }
        #projects {
          color: rgba(225, 0, 15, 0.6);
          &:hover {
            // color: #e1000f;
            color: rgba(225, 0, 15);
          }
        }
      }
    }
  }
}